.nine{
    font-size: 50px;
    text-align: center;
    padding-top: 4%;
}
.tenchinh{
    text-align: center;
}
.fb{
    text-align: center;
    font-size: 40px;
    margin-top: -2%;
}
.ing{
    text-align: center;
    font-size: 40px;
    margin-top: -5%;
}
.tong{
    background-image: url(hinh5.jpg);
    max-width: 960px;
    margin: 0px auto;
   height: auto;
   display: block;
   background-size: cover;
}
.logofb{
    text-decoration: none;
}
.logoing{
    text-decoration: none;
}
.chaychu{
    font-size: 50px;
    
}
.nickname{
    font-size: 35px;
    margin-top: -5%;
}
.name{
    margin-top: 5%;
    font-size: 100px;
}
